* {
    margin: 0;
    padding: 0;
  }

:root {
    --background-color: #E2E8F0;
    --second-color: #099ed9;
    --accent-color: #F0B42A;
    --font-family: "Arial";
}

.main {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "nav header"
        "nav info";
}

.header {
    grid-area: header;
    display: grid;
    background-color: white;
    padding-top: 10px;
    padding-left: 30px;
    /* padding-bottom: 10px; */
    font-family: var(--font-family);
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); 
    
}

.user-bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: grid;
    grid-template-columns: 30px auto;
    gap: 15px;
    align-items: center;
}

.user {
    display: grid;
    margin-left: 50px;
    margin-right: 100px;
    grid-template-columns: 30px 30px auto;
    gap: 30px; 
    align-items: center;
    justify-content: end;
    
}

.search-bar {
    width: 100%;
    min-width: 600px;
    background-color: var(--background-color);
    height: 30px;
    border-radius: 25px;
}

.avatar-small>img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #949c9f;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.welcome-text {
    display: grid;
    grid-template-columns: 80px auto;
    column-gap: 10px;
    row-gap: 5px;
}

.avatar {
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: right;
}

.avatar>img {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #949c9f;
}

.greeting {
    grid-column-start: 2;
    font-size: .9em;
    align-self: end;
}

.name {
    grid-column-start: 2;
    font-size: 1.3em;
}

.button-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-right: 80px;
    justify-self: end;
}

button {
    background-color: var(--second-color);
    width: 100px;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 1em;


}

.side-nav {
    grid-area: nav;
    height: 100vh;
    background-color: var(--second-color);
    color: white;
    padding-top: 20px;
    padding-left: 20px;
} 

.logo {
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
    margin-bottom: 50px;
}

.logo-text {
    font-family: var(--font-family);
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.lg-icon {
    width: 50px;
}

.nav {
    display: grid;
    gap: 50px;
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: bold;
}

.list-item {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.icon, .lg-icon {
    color:#f9fafb;
}

.info-section {
    grid-area: info;
    padding-top: 20px;
    background-color: var(--background-color);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: "projects announcements"
                         "projects trend";
}


.title {
    font-size: 1.3em;
    font-family: var(--font-family);
    font-weight: 400;
}

.trending {
    grid-area: trend;
    margin-left: 20px;
    width: 300px;
}

.trending-section {
    background-color: white;
    color: #919191;
}

.announcements {
    grid-area: announcements;
    width: 300px;
    margin-left: 20px;

}

.announcement-section {
    padding: 20px;
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
}

.announcement {
    margin: 0 10px;
    padding: 10px;
    border-bottom: .5px solid #919191;;
    font-family: var(--font-family);
    color: #919191;
    font-size: 0.8em;
}

.announcement:last-child {
    border: none;
}

.projects-section {
    grid-area: projects;
    
}

.projects {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.project {
    width: 320px;
    background-color: white;
    height: auto;
    max-height: 200px;
    border-radius: 10px;
    border-left: 10px solid var(--accent-color);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
    font-family: var(--font-family);
    font-weight: 100;
    color: #919191;
    
}

.project-title {
    font-weight: 500;
    font-size: 1.1em;
    color: #111111;
}

.action-icons {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    gap: 20px;
    justify-items: end;
}